body,html{
    padding: 0;
    margin:0;
    font-family:'Open Sans','sans serif';
}

.container1{
    width: 100%;
    height: auto;
    /* position: relative; */
}

.home-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    z-index: -1;
    opacity: 1;
    
    

}

.container{
    width: 100%;
    height: 60px;
    top: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    
}

/* .button{
    height:35px;
    border-radius: 10px;
    background-color:#F6FEDB;
    border:none;
    
    margin-top:10px;
    text-align: center;
    cursor: pointer;
} */
.donate-btn{
    height: 20px;
    width: 40px;
    border: 1px solid black;
    font-size: 25px;
    background-color: #F6FEDB;
    color: black;
    cursor: pointer;
    
    



    
    
    
   
    
}

.donate-btn1{
    height: 25px;
    width: 30px;
    border: 1px solid black;
     font-size: 25px;
     background-color: white;


}



.container1 .text{
    
    position: absolute;
    top:30%;
    left:20px;
    font-size: 40px;
    font-weight: 500;
    color: white;
    z-index: -1;

}

.btn-d{
    height: 40px;
    width: 120px;
    top: 60%;
    left:20%;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color:whitesmoke;
}

